<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Sipariş Özeti
</div>
<div class="p-4">
  <p class="font-italic mb-4">
    Kargo ücreti ödeme aşamasında eklenecektir.
  </p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async) as basketTotal">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Sipariş Ara Toplam</strong>
      <strong>{{basketTotal.subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Kargo</strong>
      <strong>{{basketTotal.shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Toplam</strong>
      <strong>{{basketTotal.total | currency}}</strong>
    </li>
  </ul>
</div>
